label {
    display: inline-block;
    overflow: hidden;
    line-height: 20px;
}

input, img {
    float: left;
    display: block;
    height: 20px;
}
.swal2-popup {
    font-size: 2rem;
    }
    .swal-height {
        height: 600px;
        width: 600px;
    }
    
    @media (max-width: 800px) {
      .swal-height {
        height: 300px;
        width: 300px;
    }
    }
    