<main>
    <!--* header -->
    <section class="mt-3 py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">
            Course lists              
            <i class="pi pi-plus-circle me-3 text-muted" style="font-size: 1rem" [routerLink]="['/add']"></i>
          </h1>

          <div>
            <p class="lead text-muted">
              All video in this project is used as reference for backend and frontend project purpose. I DO NOT own any video in this project. All rights reserved to the copyright owners.
            </p>
          </div>


          <form>
            <div class="form-group py-3">

              <p class="lead text-muted">You can search from here</p>

              <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Search" name="searchsText"[(ngModel)]="searchText" pTooltip="Enter your keyword" />
              </span>

              <!-- <input type="text" name="searchsText" placeholder="Search" [(ngModel)]="searchText"> -->
            </div>
          </form>
        </div>
      </div>
    </section>

      <!-- ? ref : https://getbootstrap.com/docs/5.0/helpers/stretched-link/#identifying-the-containing-block  -->
      <!-- ? ref2 : https://stackoverflow.com/questions/20796596/how-to-align-two-div-tags-horizontally-in-the-same-line-inside-a-main-div-ta/20796642 -->
    <!--* Fetch video -->
    <div id="sameline" class="album py-3 " *ngFor="let video of videoList | filter:searchText; let i = index">
        <div class="card shadow-lg me-4" >
            <!-- <img [src]="video.img_url" width="100%" height="225" > -->
            <img [src]="video.img_url" class="responsive">
            <div class="card-body py-3" style="width: 25rem;">
                <h3>
                  <b>{{video.title}}</b>
                </h3>

                <!-- ? ScrollPanel -->
                <div class="mb-3">
                  <p-scrollPanel [style]="{width: '100%', height: '60px'}">
                    {{video.description}}
                </p-scrollPanel>    
                </div>


                <!-- ? slice text -->
                <!-- <div class="limitTextHeight mb-2">
                  <p>
                    {{(readMore) ? video.description : video.description | slice:0:200}}
                  </p>
                  <span *ngIf="!readMore"></span>
                </div> -->

                <!-- ? read more of less -->
                <!-- <div [ngClass]="{'limitTextHeight': isReadMore}">
                  <p>{{video.description}}</p>
                </div>
                <p class="text-end">
                  <a (click)="showText()">
                    {{ isReadMore ? 'Read More': 'Read Less' }}
                  </a>  
                </p> -->

                <!-- <iframe [src]="video.url | safe" allowfullscreen></iframe> -->
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary shadow-sm" [routerLink]="['/video-detail/'+video._id]" (click)="GetVideo(video._id); scrollToTop();">View</button>
                        
                        <button type="button" class="btn btn-sm btn-outline-warning shadow-sm" [routerLink]="['/update/'+video._id]">Edit</button>

                        <button class="btn btn-sm btn-outline-danger" (click)="delete(video._id, i)">Delete</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="container-fluid">
  <footer class="text-muted py-3 mt-6">
    <div class="container">
      <p class="float-end mb-1">
        <a href="/video">Back to top</a>
      </p>
      <p class="mb-1">MEAN Stack Project made by Pannavach.</p>
    </div>
  </footer>
</div>
  
<!-- ? old code -->
<!-- <div *ngFor="let video of videoList">
    <div>{{video.title}}</div>
    <iframe 
        [src]="video.url | safe"
        allowfullscreen


    ></iframe>
    <div>{{video.description}}</div>
    <img [src]="video.img_url" width="400">
</div> -->
