<form>
  <div class="form-group py-3">

    <p class="lead text-muted">You can search from here</p>

    <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Search" name="searchsText"[(ngModel)]="searchText" pTooltip="Enter your keyword" />
    
    </span>

  </div>
</form>

<button type="button" class="btn btn btn-outline-primary shadow-sm mb-3" [routerLink]="['/add']">Add</button>

<div class="table-responsive-lg">
  <table class="table table-hover table-borderless" >

    <thead>
      <tr class="table-dark">
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody *ngFor="let video of videoList | filter:searchText; let i = index">
      <tr>
        <td class="col-md-2"><b>{{video.title}}</b></td>
        
        <td class="col-md-2"><img [src]="video.img_url" class="responsive"></td>

        <td class="col-md-6">
          <div class="mb-3 newlines" >
            <p-scrollPanel [style]="{width: '100%', height: '100px'}">
              <div class="mb-3 newlines" [innerHTML]="arrOfobj[i].description | filter:searchText"></div>
            </p-scrollPanel>    
          </div>
        </td>

        <td>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn btn-outline-secondary shadow-sm" [routerLink]="['/detail/'+video._id]" (click)="GetVideo(video._id); scrollToTop();">View</button>
              
              <button type="button" class="btn btn btn-outline-warning shadow-sm" [routerLink]="['/update/'+video._id]">Edit</button>

              <button class="btn btn btn-outline-danger" (click)="delete(video._id, i)">Delete</button>
            </div>
          </div>
        </td>

      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid">
  <footer class="text-muted py-3 mt-6">
    <div class="container">
      <p class="mb-1">MEAN Stack Project made by Pannavach.</p>
    </div>
  </footer>
</div>

