#sameline {
    display: inline-block;
    margin-top: 3;
    margin-right: 3;
}
img {
    display: inline-block;
    margin-top: 3;
    margin-right: 3;
}
.swal2-popup {
    font-size: 2rem;
    }
    .swal-height {
        height: 600px;
        width: 600px;
    }
    
    @media (max-width: 800px) {
      .swal-height {
        height: 300px;
        width: 300px;
    }
    }
    .responsive {
        /* width="100%" height="225" */
        
        width: auto;
        max-height: 225px;
      } 
a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
}
.footer {
    position:fixed;
    left:0px;
    bottom:20px;
    height:30px;
    width:100%;
 }
 
 .limitTextHeight {
    height: 32px;
    overflow: hidden;
}
.newlines {
    white-space: pre-line;
  }