<main>
    <!--* header -->
    <section class="mt-3 py-5 text-center container bg-light">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Video Course</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
        </div>
      </div>
    </section>

    <!-- ? test -->
    <!-- <div id="sameline" *ngFor="let video of videoList">
        <img [src]="video.img_url" width="400" height="225" class="me-3">

        <p class="alignleft">Text on the left.</p>
        <p class="alignright">Text on the right.</p>
      </div> -->

      <!-- ? ref : https://getbootstrap.com/docs/5.0/helpers/stretched-link/#identifying-the-containing-block  -->
      <!-- ? ref2 : https://stackoverflow.com/questions/20796596/how-to-align-two-div-tags-horizontally-in-the-same-line-inside-a-main-div-ta/20796642 -->
    <!--* Fetch video -->
    <div id="sameline" class="album py-3 " *ngFor="let video of videoList">
        <div class="card shadow-lg me-4" >
            <img [src]="video.img_url" width="100%" height="225">
            <div class="card-body" style="width: 25rem;">
                <h5>{{video.title}}</h5>
                <p>{{video.description}}</p>
                <!-- <iframe [src]="video.url | safe" allowfullscreen></iframe> -->
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/video-detail/'+video._id]" (click)="GetVideo(video._id)">View</button>

                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <!-- <a href="/video">Back to top</a> -->
      </p>
      <!-- <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? 
          <a href="/">Visit the homepage</a> or read our 
        <a href="/video">getting started guide</a>.</p> -->
    </div>
  </footer>
  
<!-- * old code -->
<!-- <div *ngFor="let video of videoList">
    <div>{{video.title}}</div>
    <iframe 
        [src]="video.url | safe"
        allowfullscreen


    ></iframe>
    <div>{{video.description}}</div>
    <img [src]="video.img_url" width="400">
</div> -->
