<main class="form-signin text-center mt-5">
    <form (submit)="onRegisterSubmit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>    
        <h1 class="h2 mb-3 ">Sign up</h1>
        
    <div class="container text-center">
        <div class="d-flex justify-content-center">
            <div class="form-floating mt-3 col-3  ">
                <input type="text" size="100" class="form-control " [(ngModel)]="name" name="name" placeholder="name">
                <label for="floatingInput"> Name</label>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="form-floating mt-3 col-3  ">
                <input type="text" size="100" class="form-control " [(ngModel)]="username" name="username" placeholder="username">
                <label for="floatingInput"> Username</label>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="form-floating mt-3 col-3  ">
                <input type="text" size="100" class="form-control " [(ngModel)]="email" name="email" placeholder="email">
                <label for="floatingInput"> Email</label>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="form-floating mt-3 col-3 ">
                <input type="password" class="form-control " [(ngModel)]="password" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
        </div>    

        <button class="btn btn-lg btn-success mt-3" type="submit">Sign-up</button>
    </div>

</form>
</main>
<!-- ? old ui -->
<!-- <h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="email" name="email" class="form-control">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control">
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Submit">
</form> -->

