<nav class="navbar-expand-lg navbar-dark bg-dark">
    <header class="p-3 text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

          <a class="navbar-brand text-white" href="#">Video Course</a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link px-2 text-white">Home</a>
            </li>

            <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link active text-white" [routerLink]="['/video']">Video</a>
            </li>

          </ul>
        
          <div class="text-end">
            <!-- ? When Not login -->
            <button type="button" class="btn btn-outline-light me-2" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</button>
            <button type="button" class="btn btn-warning" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLink]="['/register']">Sign-up</button>
            <!-- ? When login -->
            <button type="button" class="btn btn-light me-2" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLink]="['/profile']">Profile</button>
            <button type="button" class="btn btn-danger me-2" *ngIf="!authService.loggedIn()" (click)="onLogoutClick()" href="#">Log-out</button>
          </div>
          
        </div>
      </div>
    </header>      
</nav>

<!-- ? old version -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MEAN WITH PHP API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a href="#" class="nav-link px-2 text-secondary">Home</a>
                </li>
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link active" [routerLink]="['/video']">Video</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link active" [routerLink]="['/dashboard']">Dashboard</a>
                </li>
                <li *ngIf="!authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link active" [routerLink]="['/profile']">Profile</a>
                </li>
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link active" [routerLink]="['/login']">Login</a>
                </li>
                <li *ngIf="authService.loggedIn()" class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link active" [routerLink]="['/register']">Register</a>
                </li>
                <li *ngIf="!authService.loggedIn()" class="nav-item">
                    <a class="nav-link active" (click)="onLogoutClick()" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->