.set-iframe {
  height: calc(100vh-95px) !important;
  width: 100% !important
}

.wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.swal2-popup {
  font-size: 2rem;
  }
  .swal-height {
      height: 600px;
      width: 600px;
  }
  
  @media (max-width: 800px) {
    .swal-height {
      height: 300px;
      width: 300px;
  }
  }
  .footer {
    position:fixed;
    left:0px;
    bottom:20px;
    height:30px;
    width:100%;
 }
 
 .newlines {
  white-space: pre-line;
}