
<main>
  <div class="container-fluid mt-3">
    <!-- ? use "?" to clear cannot read property "title, url" of undefined -->
    <!-- * this is iframe 100% -->
    <!-- <body style="margin:0px;padding:0px;overflow:hidden">
        <iframe [src]="data?.url | safeurl" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%"></iframe>
    </body> -->
    <!-- * Wrapper Iframe ref : https://stackoverflow.com/questions/17838607/making-an-iframe-responsive -->
    <div class="wrapper ">
      <iframe [src]="data?.url | safeurl" frameborder="0" class="responsive-iframe" height="100%" width="100%"></iframe>

    </div>

  </div>
</main>

<!-- <div class="row-container">
  <div class="first-row">
    <p>Some text</p>
    <p>And some more text</p>
  </div>
  <iframe [src]="data?.url | safeurl" class="second-row" allowfullscreen></iframe>
</div> -->
