.set-iframe {
  height: calc(100vh-95px) !important;
  width: 100% !important
}


/* .container {
  padding-top: 66.66%; 
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
} */

.wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
/* .titleS h1{
  display: inline;

}
.titleS p {
    display: inline;
}
.titleS a {
  display: inline;
} */